// Responsive breakpoints
$mobile-med: 350px;
$tablet-up: 840px;

// Colors
//$bg-color: #404040;
$bg-color: #000;
$focus-color: #ffe6e6;

// Typography
$font-stack: 'Montserrat', sans-serif;
//$body-text-color: #3A6355;
$body-text-color: #2eb82e;
$link-color: #FFF;
$link-hover-color: #adebad;
$highlight-color: #ff1a1a;
