fieldset {
  border-style: none;
}

legend {
  text-align: left;
}

label {
  display: inline-block;
  margin-bottom: .5em;
}

textarea,
input[type=text],
input[type=email],
input[type=radio],
button[type=submit] {
  color: #000;
  padding: 0.5em;
}

button[type=submit] {
  background-color: #ffffff;
  color: $highlight-color;
}

textarea {
  width: 100%;
}

input:focus,
textarea:focus,
a:focus,
button[type=submit]:focus,
select:focus {
  outline-color: red;
}

input:focus,
textarea:focus {
  background-color: $focus-color;
}

.input_label {
  margin-left: 0.5em;
}

/* Survey page styles */

form {
  margin: 0 auto;
  text-align: left;
  display: inline-block;
}

.container {
  text-align: center;
  width: 100%;
}

.newsletter {
  text-align: right;
  label {
    margin-right: 0.5em;
  }
}

#albums,
#albums option {
  background-color: white;
  color: black;
}

/* Styles for larger screens */
@media screen and (min-width: 840px) {
  .photo {
    width: 40%;
  }
}