body {
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  color: $body-text-color;
  background: $bg-color;
}

/* Section Styles */

header {
  text-align: center;
  background: url('../img/concert02_with_text.jpg') no-repeat top center;
  background-size: cover;
  overflow: hidden;
  padding-top: 60px;
  height: 350px;
  @media screen and (min-width: $tablet-up) {
    min-height: 470px;
  }
}

.tag {
  color: black;
  padding: 10px;
  letter-spacing: 5px;
}

.name {
  font-weight: 300;
}

header .name {
  font-size: 3em;
}

.tagline {
  font-weight: 600;
  padding: 20px;
  text-transform: uppercase;
  color: #781125
}

.card {
  margin: 30px;
  padding: 20px 40px 40px;
  text-align: left;
  border-top: 4px solid $highlight-color;
  clear: both;
  @media screen and (min-width: $tablet-up) {
    margin: 40px auto;
    padding: 20px 40px 40px;
    width: 80%;
    max-width: 1000px;
  }
}

.card:hover {
  border-color: #96731A;
}

.photo {
  display: block;
  width: 200px;
  height: 0%;
  margin: 0 auto;
  @media screen and (min-width: $tablet-up) {
    width: 30%;
    margin: 20px 30px;
  }
}

.information {
  width: 100%;
  text-align: center;
  /*display: inline-block;
  position: absolute;*/
  @media screen and (min-width: $tablet-up) {
    text-align: left;
  }
}

.heading {
  margin-top: 10px;
}

.flex {
  @media screen and (min-width: $tablet-up) {
    display: -ms-flexbox; /* TWEENER - IE 10 */
    display: flex;
    max-width: 1200px;
    -ms-flex-pack: distribute;
  }
}

main {
  @media screen and (min-width: $tablet-up) {
    padding-top: 20px;
  }
}

main p {
  @media screen and (min-width: $tablet-up) {
    line-height: 1.6em;
  }
}