/* Link Styles */

a {
  text-decoration: none;
  color: $link-color;
}

a:hover {
  color: $link-color;
}

.main-nav a {
  color: white;
}

.heading {
  font-size: 2em;
  text-transform: uppercase;
  color: $highlight-color;
}